{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Тест на знание особенностей декабристов</h1>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a class="btn btn-primary" href="/portrait">Узнать по портрету/фото</a>
                <a class="btn btn-primary" href="/factsquestion">Узнать по фактам</a>
            </div>
        </div>
        <h1></h1>
        <a class="btn btn-primary" href="/facts">Справочник</a>
    </div>
</div>
{% endblock %}